/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}


main
{
    background-color: rgba(211, 211, 211, 0.25);
}

h1
{
    font-family: "Courier New", monospace;
    font-size: 20px;
}

.gptresponse
{
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    
}